<form [formGroup]="form">
  <mat-form-field style="width: 250px" appearance="outline" floatLabel="always">
    <mat-label>Номер</mat-label>
    <input matInput [formControl]="documentNumberCtl" required>
  </mat-form-field>
  <mat-form-field style="width: 150px" appearance="outline" floatLabel="always">
    <mat-label>Дата заключения</mat-label>
    <input matInput [matDatepicker]="dateOfContractDP" [formControl]="dateOfContractCtl">
    <mat-datepicker-toggle matSuffix [for]="dateOfContractDP"></mat-datepicker-toggle>
    <mat-datepicker #dateOfContractDP></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width: 240px" appearance="outline" floatLabel="always">
    <mat-label>Дата окончания действия контракта</mat-label>
    <input matInput [matDatepicker]="dateEndDP" [formControl]="dateEndCtl">
    <mat-datepicker-toggle matSuffix [for]="dateEndDP"></mat-datepicker-toggle>
    <mat-datepicker #dateEndDP></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Общая сумма, руб</mat-label>
    <input matInput [formControl]="totalAmountCtl" required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Выплачено, руб</mat-label>
    <input matInput [formControl]="payOutAmountCtl" required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>К выплате, руб</mat-label>
    <input matInput [formControl]="payoffAmountCtl" required>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline" floatLabel="always">
    <mat-label>Направление социальной помощи</mat-label>
    <mat-select [formControl]="socialAssistanceKindCtl" required>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline" floatLabel="always">
    <mat-label>Предмет контракта</mat-label>
    <textarea matInput [formControl]="contractSubjectCtl" required></textarea>
  </mat-form-field>
</form>


