<h2 mat-dialog-title>Программа социальной адаптации</h2>
<form [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="always" style="width: 25%;">
    <mat-label> Планируемый срок исполнения </mat-label>
    <input matInput [formControl]="plannedExecutionDateCtl" required />
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 60%">
    <mat-label> Мероприятие </mat-label>
    <input matInput [formControl]="nameCtl" required />
  </mat-form-field>
  <mat-checkbox [formControl]="moneyCtl" style="width: 10%"> Денежное </mat-checkbox>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
    <mat-label> Социальный партнер </mat-label>
    <input matInput [formControl]="socialPartnerCtl" required />
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
    <mat-label> Контрольное заключение </mat-label>
    <input matInput [formControl]="controlOpinionCtl" required />
  </mat-form-field>
</form>

<div class="actions">
  <button mat-flat-button (click)="save()">Сохранить</button>
  <button mat-stroked-button mat-dialog-close class="close">Закрыть</button>
</div>

