<div xmlns="http://www.w3.org/1999/html">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Дата расторжения</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Инициатор расторжения</mat-label>
    <mat-select required>
      <mat-option> Получатель\ОНМСЗ\Соглашение</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Срок моратория на заключение контракта с гражданином</mat-label>
    <input matInput required>
  </mat-form-field>
  <div>
    <mat-checkbox class="example-margin">
    </mat-checkbox>
    Недобросовестное <br/> исполнение получателем
  </div>
  <mat-form-field style="width: 100%;" appearance="outline" floatLabel="always">
    <mat-label>Причина расторжения</mat-label>
    <input matInput required>
  </mat-form-field>
</div>


