<h2 mat-dialog-title>Сведения о семье (гражданине)</h2>
<form [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label> Фамилия</mat-label>
    <input matInput [formControl]="memberLastnameCtl" required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label> Имя</mat-label>
    <input matInput [formControl]="memberNameCtl" required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label> Отчество</mat-label>
    <input matInput [formControl]="memberPatronymicCtl">
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label> СНИЛС</mat-label>
    <input matInput [formControl]="memberSnilsCtl" required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label> Родственная связь</mat-label>
    <input matInput [formControl]="memberRoleCtl" required>
  </mat-form-field>
  <mat-checkbox [formControl]="isChildCtl" > Ребенок</mat-checkbox>
  <mat-checkbox [formControl]="isHeadOfFamilyCtl" >Глава семьи</mat-checkbox>
</form>

<div class="actions">
  <button mat-flat-button (click)="save()">Сохранить</button>
  <button mat-stroked-button mat-dialog-close class="close">Закрыть</button>
</div>
