mat-card {
  margin: 20px 110px;
}

h1 {
  text-transform: uppercase;
}

.done {
  background: green;
}

.userActions {
  display: flex;
  margin: 20px;
  button {
    width: 170px;
  }
}

.print, .saveOrClose{
  justify-content: center;
  column-gap: 20px;
  button {
    height: 40px;
    width: 200px;
  }
}
