<mat-card>
  <div id="metainformation">
    <h1>Социальный контракт</h1>
    <div id="dates">
      <p>Дата создания: <b>03.02.2019</b></p>
      <p>Дата исполнения: <b>04.10.2019</b></p>
    </div>
    <div id="rest">
      <div><b>Эксперт ОНМСЗ</b>
        <mat-form-field>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p><b>Статус:</b> <span>Новое</span></p>
    </div>
  </div>

  <mat-accordion multi>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="status"
          [ngTemplateOutletContext]="{
            title:'Основные сведения',
            form: basicInformationForm
          }">
        </ng-container>
      </mat-expansion-panel-header>
      <basic-information-form></basic-information-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="status"
          [ngTemplateOutletContext]="{
            title:'Сведения о семье (гражданине)',
            form: familyInformationForm
          }">
        </ng-container>
      </mat-expansion-panel-header>
      <family-information-form></family-information-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Программа социальной адаптации
        </mat-panel-title>
      </mat-expansion-panel-header>
      <social-adaptation-form></social-adaptation-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Сведения о выплатах
        </mat-panel-title>
      </mat-expansion-panel-header>
      <payments-information-form></payments-information-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Исполнение контракта
        </mat-panel-title>
      </mat-expansion-panel-header>
      <contract-execution-form></contract-execution-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="status"
          [ngTemplateOutletContext]="{
            title:'Расторжение контракта',
            form: contractTerminationForm
          }">
        </ng-container>
      </mat-expansion-panel-header>
      <contract-termination-form></contract-termination-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="status"
          [ngTemplateOutletContext]="{
            title:'Изменение контракта',
            form: contractCorrectionForm
          }">
        </ng-container>
      </mat-expansion-panel-header>
      <contract-correction-form></contract-correction-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Результаты обследования после исполнения контракта
        </mat-panel-title>
      </mat-expansion-panel-header>
      <execution-result-form></execution-result-form>
    </mat-expansion-panel>

  </mat-accordion>
  <div class="actions load">
    <button mat-flat-button>Загрузить файл</button>
  </div>
  <div class="actions print">
    <button mat-flat-button (click)="generatePDF()">
      <mat-icon>print</mat-icon>
      Печать
    </button>
  </div>
  <div class="actions saveOrClose">
    <button mat-flat-button>Сохранить</button>
    <button mat-stroked-button class="close">Закрыть</button>
  </div>
</mat-card>

<ng-template #status let-form="form" let-title="title">
  <ng-container *ngIf="form">
    <ng-container *ngIf="form.invalid && (form.dirty || form.touched); else correct">
      <mat-panel-title style="color: red">
        {{title}}
      </mat-panel-title>
    </ng-container>
    <ng-template #correct>
      <mat-panel-title>
        {{title}}
      </mat-panel-title>
    </ng-template>
  </ng-container>
</ng-template>
