<h2 mat-dialog-title> Сведения о выплатах </h2>
<form [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="always" style="width: 16%">
    <mat-label> Дата </mat-label>
    <input matInput [matDatepicker]="dateDP" [formControl]="dateCtl" required>
    <mat-datepicker-toggle matSuffix [for]="dateDP"></mat-datepicker-toggle>
    <mat-datepicker #dateDP></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 14%">
    <mat-label> Сумма </mat-label>
    <input matInput [formControl]="amountCtl" required>
  </mat-form-field>
  <mat-checkbox [formControl]="payedOutCtl" > Выплачено </mat-checkbox>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 50%">
    <mat-label> Описание </mat-label>
    <input matInput [formControl]="descriptionCtl" required>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 50%">
    <mat-label> Мероприятие </mat-label>
    <input matInput [formControl]="eventCtl">
  </mat-form-field>
</form>

<div class="actions">
  <button mat-flat-button (click)="save()">Сохранить</button>
  <button mat-stroked-button mat-dialog-close class="close">Закрыть</button>
</div>
