<div>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Дата дополнительного соглашения </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label> Дата окончания с учетом продления </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline" floatLabel="always">
    <mat-label> Причина изменения </mat-label>
    <input matInput>
  </mat-form-field>
</div>


