<form [formGroup]="form">
  <mat-form-field style="min-width: 250px" appearance="outline" floatLabel="always">
    <mat-label> Дата дополнительного соглашения </mat-label>
    <input [formControl]="additionalAgreementDateCtl" [matDatepicker]="additionalAgreementDateDP" matInput required>
    <mat-datepicker-toggle matSuffix [for]="additionalAgreementDateDP"></mat-datepicker-toggle>
    <mat-datepicker #additionalAgreementDateDP></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="min-width: 250px" appearance="outline" floatLabel="always">
    <mat-label> Дата окончания с учетом продления </mat-label>
    <input [formControl]="dateEndRenewedCtl" [matDatepicker]="dateEndRenewedDP" matInput  required>
    <mat-datepicker-toggle matSuffix [for]="dateEndRenewedDP"></mat-datepicker-toggle>
    <mat-datepicker #dateEndRenewedDP></mat-datepicker>

  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline" floatLabel="always">
    <mat-label> Причина изменения </mat-label>
    <input [formControl]="modificationReasonCtl" matInput required>
  </mat-form-field>
</form>


